{% extends 'partials/main.html.twig' %}

{% block stylesheets %}

{{ parent() }}

<!-- jsvectormap css -->
<link href="{{ asset('libs/jsvectormap/css/jsvectormap.min.css') }}" rel="stylesheet" type="text/css" />

<!--Swiper slider css-->
<link href="{{ asset('libs/swiper/swiper-bundle.min.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}
<div class="container-fluid">
    {% for flash_message in app.flashes('success') %}
    <div class="alert alert-success alert-label-icon alert-dismissible fade show" role="alert">
        <i class="ri-error-warning-line label-icon"></i>
        {{ flash_message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
<h1>Agregar Oficina</h1>
{{ form_start(officeForm, {attr: { 'data-turbo': 'false' } }) }}
<div class="form-group"> {{ form_row(officeForm.impcCode) }} </div>
<div class="form-group"> {{ form_row(officeForm.impcShortName) }} </div>
{{ form_end(officeForm)}}

    
</div>
{% endblock %}