{% extends 'partials/main.html.twig' %}

{% block stylesheets %}

{{ parent() }}

<!-- jsvectormap css -->
<link href="{{ asset('libs/jsvectormap/css/jsvectormap.min.css') }}" rel="stylesheet" type="text/css" />

<!--Swiper slider css-->
<link href="{{ asset('libs/swiper/swiper-bundle.min.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card card-height-100">
                <div class="card-header align-items-center d-flex">

                    <h4 class="card-title mb-0 flex-grow-1 text-uppercase">
                        Oficinas Registradas
                    </h4>

                    <div id="btn-datatable-dt-buttons" class="float-end">
                       {#  <a href="#showCreateModal" data-bs-toggle="modal"  data-bs-toggle="modal"#}
                        <a href=" {{ path('app_secure_office_postal_form_add') }} " 
                            class="btn btn-primary btn-label waves-effect waves-light me-1">
                            <i class="ri-add-line label-icon align-middle fs-16 me-2"></i>
                            Crear oficina postal
                        </a>
                       
                    </div>

                </div>
                <div class="card-body">
                    <div>

                        <ul class="nav nav-tabs nav-custom-light arrow-navtabs nav-tabs-custom nav-primary mb-3"
                            role="tablist">
                            <li class="nav-item">
                                <a class="nav-link  active py-3" href="{{ path('app_secure_office_postal_local') }}"
                                    aria-selected="true">
                                    <i class="ri-shield-user-line me-1 align-bottom"></i> Oficinas locales
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  bg-light py-3" href="{{ path('app_secure_office_postal') }}"
                                    aria-selected="false">
                                    <i class="ri-team-line me-1 align-bottom"></i> Oficinas internacionales
                                </a>
                            </li>
                        </ul>

                    </div>
                    <table id="officeTable" class="table table-striped mt-2" style="width:100%">
                        <thead>
                            <tr>
                                <th>impc Code</th>
                                <th>impc Short Name</th>
                                <th>Organisation Short Name</th>
                                <th>impc Code Full Name</th>
                                <th>organisation Full Name</th>
                                <th>impc Organisation Code</th>
                                <th>party Identifier</th>
                                <th>function</th>
                                <th>valid From</th>
                                <th>valid To</th>
                                <th>mail Flow Inbound</th>
                                <th>mail Flow Outbound</th>
                                <th>mailFlowClosedTransit</th>
                                <th>category A Inbound</th>
                                <th>category B Inbound</th>
                                <th>category C Inbound</th>
                                <th>category D Inbound</th>
                                <th>Category A Outbound</th>
                                <th>Category B Outbound</th>
                                <th>Category C Outbound</th>
                                <th>Category D Outbound</th>
                                <th>mail Class U Inbound</th>
                                <th>mail Class C Inbound</th>
                                <th>mail Class E Inbound</th>
                                <th>mail Class T Inbound</th>
                                <th>mail Class U Outbound</th>
                                <th>mail Class C Outbound</th>
                                <th>mail Class E Outbound</th>
                                <th>mail Class T Outbound</th>
                                <th>special Type</th>
                                <th>bilateral Agreement</th>
                                <th>special Restrictions</th>
                                <th>Is Local</th>
                                <th>
                                    Editar/Eliminar
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dataOffice in offices %}
                          
                            {% if dataOffice.isLocal %}
                            

                            <tr>

                                <td>
                                    {{ dataOffice.impcCode}}
                                </td>
                                <td>
                                    {{ dataOffice.impcShortName}}
                                </td>
                                <td>
                                    {{ dataOffice.OrganisationShortName}}
                                </td>
                                <td>
                                    {{ dataOffice.impcCodeFullName}}
                                </td>
                                <td>
                                    {{ dataOffice.organisationFullName}}
                                </td>
                                <td>
                                    {{ dataOffice.impcOrganisationCode}}
                                </td>
                                <td>
                                    {{ dataOffice.partyIdentifier}}
                                </td>
                                <td>
                                    {{ dataOffice.function}}
                                </td>
                                <td>
                                    {{ dataOffice.validFrom|date('Y-m-d') }}
                                </td>
                                <td>
                                    {{ dataOffice.validTo|date('Y-m-d') }}
                                </td>
                                <td>
                                    {{ dataOffice.mailFlowInbound}}
                                </td>
                                <td>
                                    {{ dataOffice.mailFlowOutbound}}
                                </td>
                                <td>
                                    {{ dataOffice.mailFlowClosedTransit}}
                                </td>
                                <td>
                                    {{ dataOffice.categoryAInbound}}
                                </td>
                                <td>
                                    {{ dataOffice.categoryBInbound}}
                                </td>
                                <td>
                                    {{ dataOffice.categoryCInbound}}
                                </td>
                                <td>
                                    {{ dataOffice.categoryDInbound}}
                                </td>
                                <td>
                                    {{ dataOffice.CategoryAOutbound}}
                                </td>
                                <td>
                                    {{ dataOffice.categoryBOutbound}}
                                </td>
                                <td>
                                    {{ dataOffice.categoryCOutbound}}
                                </td>
                                <td>
                                    {{ dataOffice.categoryDOutbound}}
                                </td>
                                <td>
                                    {{ dataOffice.mailClassUInbound}}
                                </td>
                                <td>
                                    {{ dataOffice.mailClassCInbound}}
                                </td>
                                <td>
                                    {{ dataOffice.mailClassEInbound}}
                                </td>
                                <td>
                                    {{ dataOffice.mailClassTInbound}}
                                </td>
                                <td>
                                    {{ dataOffice.mailClassUOutbound}}
                                </td>
                                <td>
                                    {{ dataOffice.mailClassCOutbound}}
                                </td>
                                <td>
                                    {{ dataOffice.mailClassEOutbound}}
                                </td>
                                <td>
                                    {{ dataOffice.mailClassTOutbound}}
                                </td>
                                <td>
                                    {{ dataOffice.specialType}}
                                </td>
                                <td>
                                    {{ dataOffice.bilateralAgreement}}
                                </td>
                                <td>
                                    {{ dataOffice.specialRestrictions}}
                                </td>
                                <td>
                                    {% if dataOffice.isLocal %}
                                    Si
                                    {% endif %}     
                                </td>
                                <td>
                                    <a  href=" {{ path('app_secure_office_postal_form_edit', {id: dataOffice.id })}} " class="btn btn-primary"><i class="ri-edit-line"></i></a>
                                    <a  href="javascript:void(0)" class="btn btn-danger"
                                    onclick="confirmarSweet('Esta seguro de borrar la oficina',
                                    '{{ path('app_secure_office_postal_form_delete' , {id: dataOffice.id })}}')"
                                    ><i
                                            class="ri-delete-bin-line label-icon align-middle fs-16 me-2"></i></a>
                                </td>
                            </tr>
                            
                            
                            {% endif %}

                            {% endfor %}

                        </tbody>
                    </table>
                   
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div><!-- end row -->

</div>






{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>
    $(document).ready(() => {

        initDataTable();
    })

    const initDataTable = () => {
        let table = new DataTable('#officeTable', {
            responsive: true,
            language: {
                url: '//cdn.datatables.net/plug-ins/2.1.5/i18n/es-MX.json',
            },
        });
    }

</script>

<!-- apexcharts -->
<script src="{{ asset('libs/apexcharts/apexcharts.min.js') }}"></script>

<!-- Dashboard init -->
<script src="{{ asset('js/pages/dashboard-crm.init.js') }}"></script>


{% endblock %}