{% extends 'partials/main.html.twig' %}

{% block stylesheets %}

	{{ parent() }}

	<!-- jsvectormap css -->
	<link
	href="{{ asset('libs/jsvectormap/css/jsvectormap.min.css') }}" rel="stylesheet" type="text/css"/>

	<!--Swiper slider css-->
	<link href="{{ asset('libs/swiper/swiper-bundle.min.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block content %}
<!-- Modal para cerrar envase -->
<div class="modal fade" id="cerrarEnvaseModal" tabindex="-1" aria-labelledby="cerrarEnvaseModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cerrarEnvaseModalLabel">Cerrar envase</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Está por cerrar el envase, ¿Está seguro?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <form method="POST">
          <input type="hidden" name="_token" value="{{ csrf_token('cerrar_envase') }}">
          <input type="submit" value="Si, cerrar envase" name="cerrarEnvase" class="btn btn-danger"/>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para cerrar despacho -->
<div class="modal fade" id="cerrarDespachoModal" tabindex="-1" aria-labelledby="cerrarDespachoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cerrarDespachoModalLabel">Cerrar despacho</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Está por cerrar el despacho, ¿Está seguro?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <form method="POST">
          <input type="hidden" name="_token" value="{{ csrf_token('cerrar_despacho') }}">
          <input type="submit" value="Si, cerrar despacho" name="cerrarDespacho" class="btn btn-danger"/>
        </form>
      </div>
    </div>
  </div>
</div>

	<div class="container-fluid">

			<div class="row">

				<div class="col-12">
					<div class="card" style="margin-bottom: 0!important;">
						<div class="d-flex align-items-center card-header bg-light">
							<h4 class="card-title mb-0 ">Despacho Nro
								{{ dispatch.dispatchCode }}
							</h4>
							<a target="_blank" class="btn btn-primary align-self-start ms-2"
               				 href="{{ path('app_pdf_cn31', {'dispatch_id':dispatch.id}) }}">Ver CN31</a>
								<a target="_blank" href="{{ path('app_pdf_cn33', {'dispatch_id':dispatch.id}) }}"
								class="btn btn-primary ms-2">Ver CN33</a>
								{# {{ path('app_pdf_cn31', {''}) }} #}
						</div>
						<div class="card-body py-0">
							<div class="row row-cols-md-3 row-cols-1">
								<div class="col col-lg border-end border-bottom">
									<div class="py-4 px-3">
										<h5 class="text-muted text-uppercase fs-13">Envases
										</h5>
										<div class="d-flex align-items-center">
											<div class="flex-shrink-0">
												<i class="ri-inbox-archive-line display-6 text-muted"></i>
											</div>
											<div class="flex-grow-1 ms-3">
												<h2 class="mb-0">
													<span class="counter-value" data-target="{{dispatch.bags|length}}">{{dispatch.bags|length}}</span>
												</h2>
											</div>
										</div>
									</div>
								</div>
								<!-- end col -->
								<div class="col col-lg border-end border-bottom">
									<div class="mt-3 mt-lg-0 py-4 px-3">
										<h5 class="text-muted text-uppercase fs-13">Peso máximo
											<i class="ri-arrow-up-circle-line text-primary fs-18 float-end align-middle"></i>
										</h5>
										<div class="d-flex align-items-center">
											<div class="flex-shrink-0">
												<i class="ri-luggage-cart-line display-6 text-muted"></i>
											</div>
											<div class="flex-grow-1 ms-3">
												<h4 class="mb-0">
													<span>{{'3000'|number_format(3, ',', '.')}}</span>
													Kg
												</h4>
											</div>
										</div>
									</div>
								</div>
								<!-- end col -->
								<div class="col col-lg border-bottom">
									<div class="mt-3 mt-lg-0 py-4 px-3">
										<h5 class="text-muted text-uppercase fs-13">Peso actual
											<i class="ri-arrow-up-circle-line text-primary fs-18 float-end align-middle"></i>
										</h5>
										<div class="d-flex align-items-center">
											<div class="flex-shrink-0">
												<i class="ri-luggage-cart-fill display-6 text-muted"></i>
											</div>
											<div class="flex-grow-1 ms-3">
												<h4 class="mb-0">
													<span id="pesoActualDespacho">{{dispatch.weight|number_format(3, ',', '.')}}</span>
													Kg
												</h4>
											</div>
										</div>
									</div>
								</div>
								<!-- end col -->
							</div>
                            <div class="row row-cols-md-3 row-cols-1">
								<div class="col col-lg border-end border-bottom">
									<div class="py-4 px-3">
										<h5 class="text-muted text-center text-uppercase fs-13">Itinerario
											<i class="ri-arrow-up-circle-line text-primary fs-18 float-end align-middle"></i>
										</h5>
										<div class="d-flex text-center align-items-center">
											<div class="flex-grow-1">
												<i class="ri-flight-takeoff-line display-6 text-muted"></i>
											</div>
											<div class="flex-grow-1 ms-3">
												<h2 class="mb-0">
													<span>{{ dispatch.itinerary|replace({',': '<br>'})|raw }}</span>
												</h2>
											</div>
										</div>
									</div>
								</div>
								<!-- end col -->
							</div>
							<div class="row mt-3">
								<div class="col-12">
									<h5>Envases cargados al despacho</h5>
								</div>
								<div class="col-12">
									<table class="table table-hover table-bordered table-stripped">
										<thead>
											<tr>
												<th>
													Cód Envase
												</th>
                                                <th>
													Estado
												</th>
												<th>
													Peso total envase
												</th>

												<th class="text-center">
													Acciones
												</th>
											</tr>
										</thead>
										<tbody>
											{% for bag in bags %}
												<tr>
                                                {% if bag.status.id != 1 %}
													<td>{{dispatch.dispatchCode ~ '%03d'|format(bag.numberBag) ~ (bag.isFinalBag ? 1:0) ~ (bag.isCertified ? 1:0) ~ '%03d'|format(bag.weight|round ) }}0</td>
                                                {% else %}
													<td>PENDIENTE HASTA QUE SE CIERRE EL ENVASE</td>
                                                {% endif %}
													<td>{{ bag.status.id == 1? 'Abierto':'Cerrado'}}</td>

													<td {{ bag.status.id == 1? 'id="pesoActualEnvaseDespacho"':''}} >{{ bag.weight|number_format(3, ',', '.') }} Kg</td>

													<td class="d-flex align-items-center justify-content-center"><a target="_blank" href="{{ path('app_pdf_cn35', { 'bag_id':bag.id}) }}"
														class="btn btn-primary">Ver CN35</a>
														
													</td>
													
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
							<!-- end row -->
						</div>
						<!-- end card body -->
					</div>
					<!-- end card -->
				</div>
				<!-- end col -->

			</div>
			<!--end row-->
	</div>

{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<!-- apexcharts -->
	<script src="{{ asset('libs/apexcharts/apexcharts.min.js') }}"></script>

	<!-- Dashboard init -->
	<script src="{{ asset('js/pages/dashboard-crm.init.js') }}"></script>

    <script>
        $(document).ready(function () {
            listenAgregarAlEnvase();
        });
        const listenAgregarAlEnvase = ()=>{
            $('#agregarAlEnvaseButton').on('click', function () {
                let s10Code = $('#s10codeInput').val();
                let bagId = $('#bagIdInputHidden').val();

                if (s10Code) {
                    fetch('/secure/upu/search', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            s10Code: s10Code,
                            bagId: bagId
                        }),
                    })
                    .then(response => {
                        if (!response.ok) {
                            // Si el servidor devuelve un error (código de estado no 2xx)
                            return response.json().then(err => {
                                throw new Error(err.message || 'Error desconocido');
                            });
                        }
                        return response.json(); // Procesa la respuesta como JSON si es correcta
                    })
                    .then(data => {
                        $('#errorS10Code').empty();
                        $('#errorS10Code').hide();
                        $('#pesoActualEnvase').html(data.bagWeight.toFixed(3).replace('.', ','));
                        $('#pesoActualEnvaseDespacho').html(data.bagWeight.toFixed(3).replace('.', ',') + ' Kg');
                        $('#pesoActualDespacho').html(data.dispatchWeight.toFixed(3).replace('.', ','));
                        $('#contadorCodigoS10Cargado').html(parseInt($('#contadorCodigoS10Cargado').html())+1);

                        const newRow = `
                            <tr>
                                <td>${s10Code}</td>
                                <td>${data.s10Weight.toFixed(3).replace('.', ',')} Kg</td>
                                <td class="text-center">
                                </td>
                            </tr>
                        `;
                        $('#tablaCodigosS10 tbody').append(newRow);

                        // Limpieza de campos
                        $('#s10codeInput').val('');

                    })
                    .catch(error => {
                        $('#errorS10Code').empty();
                        $('#errorS10Code').html(error.message);
                        $('#errorS10Code').show();
                    });
                }
            });
        }
    </script>
{% endblock %}
