{% extends 'partials/main.html.twig' %}

{% block stylesheets %}

	{{ parent() }}

	<!-- jsvectormap css -->
	<link
	href="{{ asset('libs/jsvectormap/css/jsvectormap.min.css') }}" rel="stylesheet" type="text/css"/>

	<!--Swiper slider css-->
	<link href="{{ asset('libs/swiper/swiper-bundle.min.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block content %}

	<div class="container-fluid">

		<div class="row">
			<div class="col-lg-12">
				<div class="card" id="customerList">
					<div class="card-header align-items-center d-flex">
						<h4 class="card-title mb-0 flex-grow-1 text-uppercase">
							Despachos registrados
						</h4>
						<div id="btn-datatable-dt-buttons" class="float-end">
							<a href="{{ path('app_secure_new_dispatch') }}" class="btn btn-primary btn-label waves-effect waves-light me-1">
								<i class="ri-add-line label-icon align-middle fs-16 me-2"></i>
								Crear despacho
							</a>
						</div>
					</div>
					<div class="card-body">
						<div>


							<ul class="nav nav-tabs nav-custom-light arrow-navtabs nav-tabs-custom nav-primary mb-3" role="tablist">
								<li class="nav-item">
									<a class="nav-link {{ status_dispatch == 'OPENED'? 'active':'' }} bg-light py-3" href="{{ path('app_secure_dispatch_index', {status_dispatch:'OPENED'}) }}" aria-selected="true">
										<i class="ri-inbox-archive-line me-1 align-bottom"></i>
										Abiertos
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {{ status_dispatch == 'CLOSED'? 'active':'' }} bg-light py-3" href="{{ path('app_secure_dispatch_index', {status_dispatch:'CLOSED'}) }}" aria-selected="false">
										<i class="ri-inbox-unarchive-line me-1 align-bottom"></i>
										Cerrados
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {{ status_dispatch == 'IN_TRANSIT'? 'active':'' }} bg-light py-3" href="{{ path('app_secure_dispatch_index', {status_dispatch:'IN_TRANSIT'}) }}" aria-selected="false">
										<i class="ri-flight-takeoff-line me-1 align-bottom"></i>
										En transito
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {{ status_dispatch == 'ARRIVED'? 'active':'' }} bg-light py-3" href="{{ path('app_secure_dispatch_index', {status_dispatch:'ARRIVED'}) }}" aria-selected="false">
										<i class="ri-flight-land-line me-1 align-bottom"></i>
										Arrivados
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {{ status_dispatch == 'CANCELED'? 'active':'' }} bg-light py-3" href="{{ path('app_secure_dispatch_index', {status_dispatch:'CANCELED'}) }}" aria-selected="false">
										<i class="ri-close-circle-line me-1 align-bottom"></i>
										Cancelados
									</a>
								</li>
							</ul>

							<table id="s10table" class="table">
								<thead>
									<tr>
										<th>
											Id
										</th>
										<th>
											Oficina de origen
										</th>
										<th>
											Oficina de destino
										</th>
										<th>
											Subclase
										</th>
										<th>
											Cód. de despacho
										</th>
										<th class="text-center">
											Acciones
										</th>
									</tr>
								</thead>
								<tbody>
									{% for dispatch in dispatches %}

										<tr>
											<td>
												{{dispatch.id}}
											</td>
											<td>
												{{dispatch.originOffice.impcCode}}
											</td>
											<td>
												{{dispatch.destinationOffice.impcCode}}
											</td>
											<td>
												{{dispatch.postalServiceRange.getPrincipalCharacter ~ dispatch.postalServiceRange.getSecondCharacterFrom}}
											</td>
											<td>
												{{dispatch.dispatchCode}}
											</td>
											<td class="text-center">
												{# {% if dispatch.statusDispatch.id == 1 %} #}
												<a href=" {{ path('app_secure_new_bags',{'dispatch_id':dispatch.id}) }} " class="text-warning text-center" title="Cargar envases">
													<i class="ri-luggage-cart-fill"  style="font-size: 20px;"></i>
												</a>
												{# {% endif %} #}
											</td>
										</tr>

									{% endfor %}

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end col-->
	</div>
</div>{% endblock %}{% block javascripts %}
{{ parent() }}
<!-- apexcharts -->
<script src="{{ asset('libs/apexcharts/apexcharts.min.js') }}"></script>
<!-- Dashboard init -->
<script src="{{ asset('js/pages/dashboard-crm.init.js') }}"></script>{% endblock %}
