{% extends 'partials/main.html.twig' %}

{% block stylesheets %}

{{ parent() }}

<!-- jsvectormap css -->
<link href="{{ asset('libs/jsvectormap/css/jsvectormap.min.css') }}" rel="stylesheet" type="text/css" />

<!--Swiper slider css-->
<link href="{{ asset('libs/swiper/swiper-bundle.min.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}

<div class="container-fluid">
                    
    <div class="row">
    <div class="col-lg-12">
        <div class="card" id="customerList">
            <div class="card-header align-items-center d-flex">

                <h4 class="card-title mb-0 flex-grow-1 text-uppercase">
                    Listado de clientes </span>
                </h4>

                <div id="btn-datatable-dt-buttons" class="float-end">
                    <a href="{{ path('app_secure_customer_add') }}"  class="btn btn-primary btn-label waves-effect waves-light me-1">
                        <i class="ri-add-line label-icon align-middle fs-16 me-2"></i>
                        Crear cliente
                    </a>
                    {# <button type="button" id="btn-customer-remove-item" class="btn btn-danger btn-label waves-effect waves-light me-1" data-bs-toggle="tooltip" data-bs-placement="bottom">
                        <i class="ri-delete-bin-line label-icon align-middle fs-16 me-2"></i>
                        Eliminar clientes
                    </button> #}
                </div>

            </div>
            <div class="card-body">
               
                <table id="clientTable" class="table table-striped mt-2" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo Documento</th>
                            <th>Documento</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Dirección</th>
                            <th>Editar/Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in clients %}
                            
                        <tr>
                            <td> {{ client.name }} </td>
                            <td> {{ client.typeDocument }} </td>
                            <td> {{ client.document }} </td>
                            <td> {{ client.email }} </td>
                            <td> {{ client.telephone }} </td>
                            <td> {{ client.clientAddresses[0].address }} </td>
                            <td>
                                <a href="{{ path('app_secure_customer_edit', {id: client.id })}}" class="btn btn-primary btn-sm">Editar</a>
                                <a href="javascript:void(0)" class="btn btn-danger btn-sm"
                                   onclick="confirmarSweet('Esta seguro de borrar al cliente',
                                       '{{ path('app_secure_customer_delete', {id: client.id }) }}')"
                                >Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>

    </div>
    <!--end col-->
</div>

                </div>
                

{% endblock %}

{% block javascripts %}

{{ parent() }}
<!--
 <script>
$(document).ready(function() {
    $('#clientTable').DataTable({
        dom: 'Bfrtip', // Esta es la configuración para agregar los botones de exportación
        buttons: [
            {
                extend: 'csvHtml5',
                text: 'Exportar a CSV',
                title: 'export'
            },
            {
                extend: 'pdfHtml5',
                text: 'Exportar a PDF',
                title: 'export'
            }
        ],
        initComplete: function() {
            // Aquí inicializamos la búsqueda por cada columna
            this.api().columns().every(function() {
                var column = this;
                var input = $('<input type="text" placeholder="Buscar...">')
                    .appendTo($(column.header()).empty())
                    .on('keyup change', function() {
                        column.search($(this).val()).draw();
                    });
            });
        }
    });
});
</script> 
-->
 <script>
    $(document).ready(() => {

        initDataTable();
    })

    const initDataTable = () => {
        let table = new DataTable('#clientTable', {
            responsive: true,
            language: {
                url: '//cdn.datatables.net/plug-ins/2.1.5/i18n/es-MX.json',
            },
        });
    }

</script> 

 <!--apexcharts -->
<script src="{{ asset('libs/apexcharts/apexcharts.min.js') }}"></script>

<!-- Dashboard init -->
<script src="{{ asset('js/pages/dashboard-crm.init.js') }}"></script>


{% endblock %}